.row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card {
	padding: 1em;
}

.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}
