.deleteGlyph {
	cursor: "pointer";
}

.favouritesMain {
	border: solid black 1px;
	margin: 0em 3em;
	padding: 0.25em
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card {
	padding: 1em;
}

.logo {
	width: 120px;
}
